main { 
    margin: 0 1em;    
}
select {
    margin: 0.5em 0 2em;
    border: 0.1em solid black;
    border-radius: 5px;
    padding: 0.2em;
}

.item {
    display: inline-block;
    width: 13em;
    margin: 0 auto;
    margin-bottom: 1em;
}
.item img {
    width: auto;
    margin: auto;
}
.item p, .price {
    cursor: pointer;
}
.item p {
    margin-top: 0.5em;
    font-size: 1em;
    text-align: center;
}
.price {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
}