img {
    height: 3em;
    margin: 0 40%;
}

#icon {
    text-indent: -99999em;
    background: url(../Images/profile-icon.png) no-repeat center;
    height: 2.5em;
}

table {
    width: 10em;
    margin: 0 auto 1em;
}
h4, tr {
    color: black;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-weight: bold;
}

input[type=text], input[type=password] {
    display: block;
    width: 250em;
    margin: 0.5em auto;
}
input[type=submit] {
    background-color: #A057DB;
}
label {
    color: black;
    margin-left: 10%;
}