#mail {
    text-align: center;
    text-indent: -99999em;
    background: url(../Images/mail-m.png) no-repeat center;
    height: 3em;
}

p {
    text-align: center;
    color: black;
    margin-bottom: 0.5em;
}
input[type=text], input[type=password] {
    width: 80%;
    margin: 0.5em 10%;
}
textarea {
    width: 80%;
    margin: 0.5em 10%;
}
input[type=submit] {
    background-color: white;
    border: 0;
    cursor: pointer;
    margin-left: 78%;
}
label {
    color: black;
    margin-left: 10%;
}